SECRET_KEY=troque-por-uma-chave-segura
PORT=5001

# local ou firebase
STORAGE_BACKEND=local
PANEL_USERNAME=operador5979
PANEL_PASSWORD=reservas10

# Preencha só se for usar Firebase
FIREBASE_SERVICE_ACCOUNT_FILE=
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_SERVICE_ACCOUNT_JSON_BASE64=
